:root {
  --color-1: hsl(0, 0%, 100%);
  --color-2: hsl(30, 54%, 90%);
  --color-3: hsl(30, 18%, 87%);
  --color-4: hsl(30, 10%, 34%);
  --color-5: hsl(24, 5%, 18%);
  --color-6: hsl(14, 45%, 36%);
  --color-7: hsl(332, 51%, 32%);
  --color-8: hsl(330, 100%, 98%);
}

html {
  font-size: 9px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fontone {
  font-family: "Young Serif", sans-serif;
  font-weight: 400;
}

.fonttwo,
.fontthree,
.fontfour {
  font-family: "Outfit", sans-serif;
}
.fonttwo {
  font-weight: 400;
}

.fontthree {
  font-weight: 600;
}

.fontfour {
  font-weight: 700;
}

ul,
ol {
  padding: 0em 1.5em;
}

ul li::marker {
  font-size: 0.75em;
  line-height: 0;
}

ul li::marker,
ol li::marker,
.brown {
  color: var(--color-6);
}

.bottomline {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-2);
  color: var(--color-4);
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  background-color: var(--color-1);
  width: 45em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 2em;
  gap: 1em;
  border-radius: 1em;
  margin: 2em 0em;
}

h2 {
  margin-bottom: 0.5em;
}

.titlesection {
  img {
    width: 100%;
    border-radius: 1em;
    margin-bottom: 1em;
  }

  h1 {
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 1em;
  }
}

.preparation {
  background-color: var(--color-8);
  padding: 2em;
  border-radius: 1em;
  p {
    color: var(--color-7);
    margin-bottom: 0.5em;
    font-size: 1.25em;
  }

  ul li::marker {
    color: var(--color-7);
  }

  ul {
    li {
      padding: 0.25em 0.5em;
    }
  }
}

.ingredients {
  padding: 1em 0em;

  ul {
    li {
      padding: 0.25em 0em;
      line-height: 18px;
    }
  }
}

.instructions {
  padding: 1em 0em;

  ol {
    li {
      padding: 0.25em 0em;
      line-height: 18px;
    }
  }
}

.contstable {
  p {
    margin-bottom: 0.5em;
  }
}

table {
  width: 100%;
  tr {
    td {
      padding: 1em;
    }
  }
}

footer {
  text-align: center;
  a {
    text-decoration: none;
    color: var(--color-4);
  }
}
